.header {
  width: 1440px;
  width: 100vw;
  height: 59px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content:space-around;
  gap: 1000px;
  background-color: #FFFFFF;
}

.count-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212529;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.header__background {
  z-index: 110;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(140, 140, 140, 0.5);
  backdrop-filter: blur(2px);
}


.header__button {
  width: 130px;
  z-index: 150;
  position: relative;
}

.background--disable {
  display: none;
}

.background--active {
  display: block;
}
